header .container .row .logo {
	width: 100%;
	max-width: 100%;	
}

header nav .menu li .sublist > li a{
	display: block;
	line-height: 30px;
	/*background-color: orange;*/
}



nav {
	background-color: #294a70;	
	border-bottom: 5px solid orange;
}
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu > li {
	display: inline-block;
	color: white;
	position: relative;
}

.menu > li > a {
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	/*padding: 10px 20px;*/

}

.menu >li.has-child > a::after {
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 0;
    position: absolute;
    right: 5px;
    top: 12px;
}

.menu > li:hover > a {
	background-color: orange;
}

.sublist{
	margin: 0;
	padding: 0;
	width: 250px;
	list-style-type: none;
	display: none;
	position: absolute;
	top: 44px;
	background-color: #294a70;
}
.menu li:hover > .sublist{
	display: block;
	background-color: #294a70;
}

.sublist li a{
	display: block;
	color: white;
	padding: 5px 15px;
	text-decoration: none;
	border-bottom: 1px solid white;	
}

.sublist li:hover a{
	background-color: orange;
}